# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# macOS
.DS_Store

# build
*.tar.gz

# pastas locais
sandbox/
.positai
site/tutorials/dados/
*.rds
*.gpkg

# Quarto temporário
/.quarto/
**/*.quarto_ipynb


# site (Quarto)
site/.quarto/
site/docs/
.quarto/

#Arquivos temporários
~*.*


